PORT=4000
MONGO_URI=
JWT_SECRET=REPLACE_WITH_RANDOM_LONG_STRING
REFRESH_TOKEN_SECRET=REPLACE_WITH_ANOTHER_RANDOM_LONG_STRING
FIELD_ENC_KEY=REPLACE_WITH_BASE64_32_BYTES_KEY
BCRYPT_SALT_ROUNDS=12
NODE_ENV=development
